h1 {
	font-family: 'Kaushan Script', cursive;
	font-size: 6em;
}

h2{
	font-family: 'Lato Light', sans-serif;
	font-size: 1.5em;
}

p {
	font-family: 'Lato Light', sans-serif;
	font-size: 1.5em;
	display: inline-block;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

a {
	text-decoration:none;
	color: #808080;
}

a:hover {
	color: #E41B17;
}

#description {
    width: 800px;
    margin: 0 auto;
}

#map-canvas {
	height: 300px;
	margin: 0px;
    padding: 0px
}